# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

#IntelliJ IDEA files
Treasure-chase.iml
.idea/
out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Rapport/Rapport.pdf
Sujet2020-chasseTresor.pdf
/bin/

/.classpath
/Treasure-chase-Nathanael-Houn.eml
/Treasure-chase-Nathanael-Houn.userlibraries
/Treasure-chase-Nathanael-Houn.iml
/.project
/Treasure-chase.eml

# OS files
.DS_Store

# VS Code
.vscode

# LateX
Makefile
*.out
*.tex
*.aux
*.log
*.toc
*.log
*.pdf

# Bibtex
*.bbl
*.blg